ul {
  margin: 0;
  padding: 0px;
}

li, h3 {
  list-style: none;
}

li > * {
  vertical-align: middle;
}

input,button{
  outline: none;
}

/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header {
    text-align: center;
  }
}

.main-page {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.add-element__wrapper {
  display: flex;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}

/* Heading */
.main-page__title,
.add-element__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.list-item__input,
.add-element__input {
  flex-grow: 1;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.list-item__input:focus,
.add-element__input:focus {
  color: #333;
}

/* New Task */
.add-element__label {
  display: block;
  margin: 0 0 20px;
}

.add-element__input {
  width: 318px;
}

/* Task list */
.list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item__checkbox {
  margin: 0 10px;
}

.list-item__label {
  flex-grow: 1;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.list-item__input {
  width: 226px  
}

.list-item__delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.list-item__delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-list .list-item__label {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
.list-item__input {
  display: none
}

.list-item_edit-mode .list-item__input {
  display: inline-block;
  width: 224px
}

.list-item_edit-mode .list-item__label {
  display: none;
}